<div class="showcase-wrapper has-scrollbar">
    <div class="showcase-container">
        {% for product in products %}
            <div class="showcase">
                <a href="{% url 'product_detail' product.category.slug product.slug %}" class="showcase-img-box">
                    <img src="{{ product.get_thumbnail }}" alt="Image of {{ product.title }}" width="70" class="showcase-img">
                </a>

                <div class="showcase-content">
                    <a href="{% url 'product_detail' product.category.slug product.slug %}">
                        <h4 class="showcase-title">{{ product.title }}</h4>
                    </a>

                    <a href="#" class="showcase-category">Clothes</a>

                    <div class="price-box">
                        <p class="price">${{ product.get_display_price }}</p>
                        <del>${{ product.get_display_price }}</del>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>      
</div>