{% extends 'core/base.html' %}

{% block custom_page %}

{% endblock %}

{% block modal %}{% if request.user.is_authenticated %}closed{% endif %}{% endblock %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <h1>Checkout</h1>

    <h2>Total cost: ${{ cart.get_total_cost }}</h2>

    <div class="product-featured">
        <form method="post" action=".">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="add-cart-btn">Pay now</button>
        </form>
    </div>
{% endblock %}