{% extends 'core/base.html' %}

{% block custom_page %}
    <link rel="stylesheet" href="/static/css/base.css">
{% endblock %}

{% block modal %}{% if request.user.is_authenticated %}closed{% endif %}{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Search</h1>

    <h2>Search result for "{{ query }}":</h2>

    {% if products %}
        {% include 'store/partials/products.html' %}
    {% else %}
        <p>There are no products matching this query!</p>
    {% endif %}
{% endblock %}